@import "@material/ripple/common";
@import "@material/ripple/mixins";
@import "@material/theme/mixins";
@import "./mixins";
@import "./variables"; // postcss-bem-linter: define checkbox

.checkbox {
    @include mdc-checkbox-base_;
    @include mdc-ripple-surface;
    @include mdc-states($mdc-checkbox-baseline-theme-color);
    @include mdc-ripple-radius($mdc-checkbox-ripple-radius);
    @include mdc-theme-dark {
        @include mdc-checkbox-container-colors($unmarked-stroke-color: $mdc-checkbox-border-color-dark);
    }
    @at-root {
        @include mdc-checkbox-ink-color($mdc-checkbox-mark-color);
        @include mdc-checkbox-focus-indicator-color($mdc-checkbox-baseline-theme-color);
    }
    @include mdc-checkbox-container-colors;
    // Needed to disable hover effects on CSS-only (non-JS) checkboxes
    .disabled {
        @include mdc-checkbox--disabled_;
    }
    // JS checkbox
    .upgraded {
        .background,
        .checkmark,
        .mixedmark,
        .path {
            @include mdc-checkbox__child--upgraded_;
        }
    }

    .anim {
        @include mdc-checkbox--anim_;
    }

    .background {
        @include mdc-checkbox__background_;

        .native-control:enabled:checked ~ &,
        .native-control:enabled:indeterminate ~ & {
            @include mdc-checkbox__background--marked_;
        }
    }
    // The frame's ::before element is used as a focus indicator for the checkbox
    .background::before {
        @include mdc-checkbox__focus-indicator_;

        .native-control:focus ~ & {
            @include mdc-checkbox__focus-indicator--focused_;
        }

        .ripple-upgraded--unbounded & {
            @include mdc-checkbox__focus-indicator--ripple-upgraded-unbounded_;
        }
    }

    .native-control {
        @include mdc-checkbox__native-control_;

        &:disabled {
            @include mdc-checkbox--disabled_;
        }
    }

    .checkmark {
        @include mdc-checkbox__checkmark_;
    }

    .native-control:checked ~ .background .checkmark {
        @include mdc-checkbox__checkmark--checked_;
    }

    .native-control:indeterminate ~ .background .checkmark {
        @include mdc-checkbox__checkmark--indeterminate_;
    }

    .path {
        @include mdc-checkbox__checkmark__path_;
    }

    .native-control:checked ~ .background .path,
    .native-control:indeterminate ~ .background .path {
        @include mdc-checkbox__checkmark__path--marked_;
    }

    .mixedmark {
        @include mdc-checkbox__mixedmark_;
    }

    .native-control:checked ~ .background .mixedmark {
        @include mdc-checkbox__mixedmark--checked_;
    }

    .native-control:indeterminate ~ .background .mixedmark {
        @include mdc-checkbox__mixedmark--indeterminate_;
    }

    .label {
        padding-left: 30px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        display: inline-block;
        line-height: 1em;
        font-size: 1.1em;
    }
}
